<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(error.length>0) {%>
        <div class="user-message user-message--error">
            <h3><%=error%></h3>
        </div>
        <%}%>
        <form class="login-form" action="/newpassword" method="POST">
            
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="centered">
            <button class="btn" type="submit">Update Password</button>
        </div>
        <input type="hidden" name="userid" value="<%=userId%>">
        </form>
        <br>
       
    </main>
<%- include('../includes/end.ejs') %>